{% extends 'base.html.twig' %}

{% block title %}
	- Modification AGENT
{% endblock %}

{% block body %}
	<div class="container">
		<h1 class='title text-center'>MODIFIER UN AGENT</h1>
		<br>
		<br>
		{{ form_start(form) }}
		<section>
			<div class="row justify-content-center">
				<div class="col-md-4">
					<br>
					{{ form_row(form.firstName) }}
					{{ form_row(form.lastName) }}
					{{ form_row(form.birthDate) }}
					{{ form_row(form.idCode) }}
					</div>
					<div class="col-md-1">
					</div>
					<div class="col-md-4">
						<br>
						{{ form_row(form.speciality) }}
						{{ form_row(form.nationality) }}
						<br>
						{{ form_row(form.submit) }}
					</div>
				</div>
			</section>
			{{ form_end(form) }}
		</div>
	{% endblock %}
