{% extends 'base.html.twig' %}

{% block title %}- Formulaire création AGENT
{% endblock %}

{% block body %}
	<div class="container">
		<section class="row justify-content-center">
			<h1 class='text-center text-muted'>AJOUTER UN AGENT</h1>
			<br>
			<br>
			<div class="col-md-4">
				{{ form_start(form) }}
				<br>
				{{ form_row(form.firstName) }}
				{{ form_row(form.lastName) }}
				{{ form_row(form.birthDate) }}
				{{ form_row(form.idCode) }}
				{{ form_row(form.speciality) }}
				<br>
				{{ form_row(form.submit) }}
				{{ form_end(form) }}
			</div>
		</section>
	</div>
{% endblock %}
