{% extends 'base.html.twig' %}

{% block title %}- Liste des MISSIONS
{% endblock %}

{% block body %}
	<div class="container">
		<h1 class='text-center'>LISTE DES MISSIONS</h1>
		<br>
		<br>
		<a href="{{path('app_mission_new')}}">Ajouter</a>
		<section>
			<table class="table">
				<thead>
					<tr>
						<th scope="col">#</th>
						<th scope="col">Titre
						</th>
						<th scope="col">Description
						</th>
						<th scope="col">Code
						</th>
						<th scope="col">Agent
						</th>
						<th scope="col">Type
						</th>
						<th scope="col">Statut
						</th>
						<th scope="col">Pays
						</th>
						<th scope="col">Specialité
						</th>
						<th scope="col">Début
						</th>
						<th scope="col">Fin
						</th>
						<th scope="col">Action
						</th>
					</tr>
				</thead>
				<tbody>
					{% for mission in missions %}
						<tr>
							<td>{{mission.id}}</td>
							<td>{{mission.title}}</td>
							<td>{{mission.description}}</td>
							<td>{{mission.codeName}}</td>
							<td>
								{% for agent in mission.agent %}
									{{agent.firstName}}
									{{agent.lastName}}
								{% endfor %}
							</td>
							<td>
								{{mission.type.name}}
							</td>
							<td>
								{{mission.status.name}}
							</td>
							<td>
								{{mission.country.name}}
							</td>
							<td>
								{{mission.speciality.name}}
							</td>
							<td>{{mission.startDate | date("d/m/Y")}}</td>
							<td>{{mission.endDate | date("d/m/Y")}}</td>

							<td>
								<a href="{{path('app_mission_edit', {id: mission.id})}}">edit</a>
								&nbsp
								<a href="{{path('app_mission_delete', {id: mission.id})}}">delete</a>
							</td>
						</tr>
					</tbody>
				{% endfor %}

			</tbody>
		</table>
	</section>
</div>{% endblock %}
