{% extends 'base.html.twig' %}

{% block title %}- Liste des MISSIONS
{% endblock %}

{% block body %}
	<div class="container">
		<h1 class='text-center'>LISTE DES MISSIONS</h1>
		<br>
		<br>
		<section>
			<table class="table">
				<thead>
					<tr>
						<th scope="col">#</th>
						<th scope="col">Titre
						</th>
						<th scope="col">Description
						</th>
						<th scope="col">Nom de code
						</th>
						<th scope="col">Agent
						</th>
						<th scope="col">Début
						</th>
						<th scope="col">Fin
						</th>
					</tr>
				</thead>
				<tbody>
					{% for mission in missions %}
						<tr>
							<td>{{mission.id}}</td>
							<td>{{mission.title}}</td>
							<td>{{mission.description}}</td>
							<td>{{mission.codeName}}</td>
							<td>
								{% for agent in mission.agent %}
									{{agent.firstName}}
									{{agent.lastName}}
									<br>
								{% endfor %}
							<td>{{mission.startDate | date("d/m/Y")}}</td>
							<td>{{mission.endDate | date("d/m/Y")}}</td>
							</td>
							<td>
								<a href="{{path('app_mission_edit', {id: mission.id})}}">edit</a>
								&nbsp
								<a href="{{path('app_mission_delete', {id: mission.id})}}">delete</a>
							</td>
						</tr>
					{% endfor %}

				</tbody>
			</table>

		</section>
	</div>
{% endblock %}
