{% extends 'base.html.twig' %}

{% block title %}- Gerer les MISSIONS
{% endblock %}

{% block body %}
	<div class="container">
		<h1 class='title text-center'>GERER LES MISSIONS</h1>
		<br>
		{# Message flash #}
			{% for message in app.flashes('success') %}
				<div class="alert alert-success">
					{{ message }}
				</div>
			{% endfor %}
		<br>
		<a href="{{path('app_mission_new')}}">Ajouter</a>
		<section>
			<table class="table">
				<thead>
					<tr>
						<th scope="col">#</th>
						<th scope="col">Titre
						</th>
						<th scope="col">Description
						</th>
						<th scope="col">Type
						</th>
	
						<th scope="col">Pays
						</th>
						</th>
						<th scope="col">Action
					</tr>
				</thead>
				<tbody>
					{% for mission in missions %}
						<tr>
							<td>{{mission.id}}</td>
							<td>{{mission.title}}</td>
							<td>{{mission.description}}</td>
							<td>
								{{mission.type.name}}
							</td>
							<td>
								{{mission.country.name}}
							</td>
							<td>
								<a href="{{path('app_mission_edit', {id: mission.id})}}">edit</a>
								&nbsp
								<a href="{{path('app_mission_delete', {id: mission.id})}}">delete</a>
								&nbsp
								<a href="{{path('app_home_detail', {id: mission.id})}}">Voir</a>
							</td>
						</tr>
					</tbody>
				{% endfor %}

			</tbody>
		</table>
	</section>
	<div class="navigation">
		{{ knp_pagination_render(missions,'@KnpPaginator/Pagination/twitter_bootstrap_v4_pagination.html.twig')}}
	</div>
</div>{% endblock %}
