{% extends 'base.html.twig' %}

{% block title %}- Formulaire création MISSION
{% endblock %}

{% block body %}
	<div class="container">
		<section class="row justify-content-center">
			<h1 class='title text-center'>AJOUTER UNE MISSION</h1>
			<br>
			<br>
			<div class="col-md-4">
				{{ form_start(form) }}
				<br>
				{{ form_row(form.title) }}
				{{ form_row(form.description) }}
				{{ form_row(form.codeName) }}
				{{ form_row(form.agent) }}
				{{ form_row(form.type) }}
				{{ form_row(form.status) }}
				{{ form_row(form.country) }}
				{{ form_row(form.speciality) }}
				{{ form_row(form.hideout) }}
				{{ form_row(form.target) }}
				{{ form_row(form.contact) }}
				{{ form_row(form.startDate) }}
				{{ form_row(form.endDate) }}
				<br>
				{{ form_row(form.submit) }}
				{{ form_end(form) }}
			</div>
		</section>
	</div>
{% endblock %}
