{% extends 'base.html.twig' %}

{% block title %}- Modifier une PLANQUE
{% endblock %}

{% block body %}
	<div class="container">
		<section class="row justify-content-center">
			<h1 class='text-center text-muted'>MODIFIER UNE PLANQUE</h1>
			<br>
			<br>
			<div class="col-md-4">
				{{ form_start(form) }}
				<br>
				{{ form_row(form.code) }}
				<br>
				{{ form_row(form.address) }}
				<br>
				{{ form_row(form.type) }}
				<br>
				{{ form_row(form.submit) }}
				{{ form_end(form) }}
			</div>
		</section>
	</div>
{% endblock %}
