{% extends 'base.html.twig' %}

{% block title %}- Formulaire création de PLANQUE
{% endblock %}

{% block body %}
	<div class="container">
		<section class="row justify-content-center">
			<h1 class='title text-center'>AJOUTER UNZE PLANQUE</h1>
			<br>
			<br>
			<div class="col-md-4">
				{{ form_start(form) }}
				<br>
				{{ form_row(form.code) }}
				<br>
				{{ form_row(form.address) }}
				<br>
				{{ form_row(form.type) }}
				<br>
				{{ form_row(form.country) }}
				<br>
				{{ form_row(form.submit) }}
				{{ form_end(form) }}
			</div>
		</section>
	</div>
{% endblock %}
