
<div class="filter">

    <br>
    <br>
    <br>
    <br>
    
    <h5>FILTRE</h5>
    {# rajouter un id pour le cibler en JS #}
    {{ form_start(form, {'attr': {'id':'filters'}})}}
    
    {# securité contre les attaques XSS et les injections SQL #}
    {{ form_row(form.q | raw )}}
    <br>
    <h5>STATUT</h5>
    {{ form_row(form.status)}}
    <br>
    <h5>TYPE</h5>
    {{ form_row(form.type)}}
    <br>
    
    
    {{form_end(form)}}
</div>